<!DOCTYPE html>
<html lang="en">
<!-- hack iOS CSS :active style -->
<body ontouchstart="">
<script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
<script src="https://cdn1.lncld.net/static/js/av-core-mini-0.6.1.js"></script>
<script>AV.initialize("n9H2t3VFwwMPqC0rSYfvlJuu-gzGzoHsz", "DkeWUHsd9YIYIsnKRg6vw1Lk");</script>
<!--<script>console.log("Error: " + error.code + " " + error.message);</script>-->

{% include head.html %}
{% seo %}
    {% include nav.html %}

    {{ content }}

    {% include footer.html %}
    {% include leancloud-analytics.html %}


<!-- Image to hack wechat -->
<img src="/img/icon_wechat.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
